.list {
  .todo__list {
    padding: 60px 20px 0;
    li {
      cursor: pointer;
      margin-bottom: 10px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      padding-left: 12px;
      &:hover {
        color: darken($color: #5c5656, $amount: 10%);
      }

      &.active {
        background: #ffffff;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 10px 12px;
      }
      i {
        margin-right: 10px;
        &.badge {
          display: inline-block;
          width: 8px;
          height: 8px;
        }

        &.delete {
          margin: 0;

          &:hover {
            color: black;
            path {
              transition: all 1s ease;
              fill: black;
              opacity: 1;
            }
          }
        }
      }

      span {
        width: 125px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:first-child {
        margin-bottom: 40px;
      }

      &:last-child {
        margin-top: 40px;
        color: #a99494;

        &:hover {
          color: black;

          path {
            transition: all 0.7s ease;
            stroke: black;
          }
        }
      }
    }
  }
}
