.todo {
  display: flex;
  .todo__list {
    padding: 60px 20px;
    $self: ".todo__list";

    li {
      cursor: pointer;
      margin-bottom: 10px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      padding-left: 12px;

      &:hover #{$self}-delete {
        opacity: 0.4;
        transition: opacity 0.6s ease;
      }

      #{$self}-delete {
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }

      i {
        margin-right: 10px;
        &.badge {
          display: inline-block;
          width: 8px;
          height: 8px;
        }
      }
      span {
        width: 125px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:first-child {
        margin-bottom: 40px;
      }

      &:last-child {
        margin-top: 40px;
        color: #a99494;

        &:hover {
          color: black;

          path {
            transition: all 0.7s ease;
            stroke: black;
          }
        }
      }
    }
  }
  .todo__tasks {
    flex: 1;
    width: 650px;
    padding: 60px;
  }
}
