* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-app {
  width: calc(100vw - 40px);
  height: calc(100vh - 100px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 7px 10px #f4f6f8;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  overflow: auto;
  font-size: 16px;

  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: 100%;
    border-right: 1px solid #fff1f1;
    padding: 60px 20px;
  }
  li {
    transition: all 0.7s ease;
    padding: 5px;
    margin: 0;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .field {
    background: #ffffff;
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;

    &:focus {
      border-color: #c9c4c4;
    }
    &::placeholder {
      color: #c9c4c4;
    }
  }
  .button {
    background: #4dd599;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #ffffff;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
      background: darken($color: #4dd599, $amount: 10%);
    }
    &:active {
      background: darken($color: #4dd599, $amount: 20%);
    }
  }
}
@media screen and (max-width: 740px) {
  .todo-app {
    &__sidebar {
      width: 160px;
      font-size: 12px;
      padding: 30px 5px;
      margin: 0;
    }

    li {
      padding: 2px;
    }
  }
}

@media screen and (max-width: 390px) {
  .todo-app {
    &__sidebar {
      width: 140px;
    }
  }
}
